body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(32, 41, 173);
    padding: 10px 20px;
}

.logo {
    margin-right: 500px;
}

.logo-image {
    height: 40px;
    display: block;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-item:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: rgb(251, 89, 9);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.footer {
    background-color: rgb(32, 41, 173);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer-contem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contato, .sobre{
    flex: 1;
    margin: 0 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}