#texto1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

#texto2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: green;
}

#texto3{
    font-family: "Comic Sans Ms",'Comic Sans', sans-serif;
    font-size: 20px;
    color: blue;
    font-style: italic;

}

body{
    color: yellow;
    font-size: 14px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}